<h2> Carrinho de compras </h2>


<% if @shopping_cart.empty? %>
  <span> Seu carrinho está vazio </span>
<% else %>
  <h3>Produtos selecionados:</h3>
  
    <table class = "table table-striped table-hover">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Preço unitário</th>
          <th> Preço Rubis </th>
          <th>Preço total</th>
        </tr>
      </thead>
      
      <tbody>
        <% @shopping_cart.each do |product| %>
        <tr>
          <td> <%= product.product_model.name %> </td>
          <td> <%= product.quantity %>  </td>
          <td> <%= number_to_currency(product.product_model.actual_price) %>  </td>
          <td> <%= number_with_precision(product.product_model.actual_price / @rate, precision: 2) %> </td>
          <td> <%= number_with_precision(product.product_model.actual_price * product.quantity / @rate, precision: 2)  %> </td>
          <td><%= button_to '+', sum_quantity_customer_product_item_path(product.customer_id, product.id), method: :patch %></td>
          <td><%= button_to '-', reduce_quantity_customer_product_item_path(product.customer_id, product.id), method: :patch %></td>
          <td> <%= button_to 'Remover', customer_product_item_path(product.customer_id, product.id), method: :delete %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= button_to 'Limpar carrinho', remove_all_customer_product_items_path(current_customer.id), method: :delete %>
          
  <% end %>