<div class="container">
  <h2>Produtos cadastrados:</h1>
  <% if @product_models.any? %>
    <div class="col">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th><%= ProductModel.model_name.human%>:</th>
            <th><%= ProductModel.human_attribute_name(:brand)%></th>
            <th><%= ProductModel.human_attribute_name(:model)%></th>
            <th><%= Category.model_name.human %>:</th>
            <th><%= ProductModel.human_attribute_name(:sku)%></th>
            <th><%= ProductModel.human_attribute_name(:status)%></th>
            <th> Ação </th>
          </tr>
        </thead>
        <tbody>
          <% @product_models.each do |product| %>
            <tr>
              <td><%= link_to product.name, product %> </td>
              <td><%= product.brand %></td>
              <td><%= product.model%></td>
              <td><%= product.sub_category.full_description %></td>
              <td><%= product.sku %></td>
              <td><%= ProductModel.human_attribute_name(product.status) %></td>
              <% if product.enabled? %>
                <td><%= button_to 'Desativar', disable_product_model_path(product), method: :patch, :class => "btn btn-primary"%></td>
              <% elsif product.disabled? %>
                <td><%= button_to 'Ativar', enable_product_model_path(product), method: :patch, :class => "btn btn-primary" %> </td>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>Não existem produtos cadastrados</p>
  <% end %>
</div>
