<section>
  <h1>Cadastro de produto</h1>
  <p>Informe as caracteristicas do produto</p>
  <% if(@product_model.errors.any?) %>
    <p>Preencha corretamente o formulário</p>
    <ul>
      <% @product_model.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with model:(@product_model) do |f| %>
    <div>
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :brand, 'Marca' %>
      <%= f.text_field :brand %>
    </div>
    <div>
      <%= f.label :model, 'Modelo' %>
      <%= f.text_field :model %>
    </div>
    <div>
      <%= f.label :description, 'Descrição' %>
      <%= f.text_field :description %>
    </div>
    <div>
      <%= f.label :sku, 'SKU' %>
      <%= f.text_field :sku %>
    </div>
    <div>
      <%= f.label :height, 'Altura' %>
      <%= f.number_field :height %>
    </div>
    <div>
      <%= f.label :width, 'Largura' %>
      <%= f.number_field :width %>
    </div>
    <div>
      <%= f.label :length, 'Comprimento' %>
      <%= f.number_field :length %>
    </div>
    <div>
      <%= f.label :weight, 'Peso' %>
      <%= f.number_field :weight %>
    </div>
    <div>
      <%= f.submit 'Cadastrar' %>
    </div>
  <% end %>
</section>