<section id = 'product_model-customer'>
   <h1>Detalhes sobre o produto: <%= @product_model.name %></h1>
   <div>
      <dl>
         <dt>Produto:</dt>
         <dd><%= @product_model.name %> <%= @product_model.brand %> <%= @product_model.model %></dd>
         <dt><%= Category.model_name.human %>:</dt>
         <dd><%= @product_model.sub_category.full_description %></dd>
         <dt>Descrição:</dt>
         <dd><%= @product_model.description %></dd>
         <dt>Dimensões:</dt>
         <dd><%= @product_model.height %>m x <%= @product_model.width %>m x <%= @product_model.length %>m</dd>
         <dt>Peso:</dt>
         <dd><%= @product_model.weight %>kg</dd>
         <dt>SKU:</dt>
         <dd><%= @product_model.sku %></dd>
         <dt>Frágil?</dt>
         <% if @product_model.fragile == true %>
            <dd> Sim </dd>
         <% else %>
            <dd>Não</dd>
         <% end %>
         <dt>Preço:</dt>
         <dd><%= number_to_currency(@product_model.product_prices.first.price) %></dd>
      </dl>
   </div>

   <div>
      <% if customer_signed_in? %>
         <%= form_with url: customer_product_items_path(current_customer.id) do |f| %>
            <%= f.label :quantity, 'Quantidade' %>
            <%= f.number_field :quantity %>
            <%= f.hidden_field :product_model_id, value: @product_model.id %>
            <%= f.submit 'Adicionar ao carrinho' %>
         <% end %>
      <% else%>
         <%= link_to 'Adicionar ao carrinho', new_customer_session_path %>
      <% end %>
   </div>
</section>
