<section id = 'query'>
    <%=form_with(url: search_category_sub_categories_path(@categories), method: :get) do |f| %>
    <%= f.label :query, 'Categorias' %>:
    <%= f.collection_select :query, @subcategories, :id, :full_description %>
    <%= f.submit 'Buscar' %>
    <% end%>
</section>




<% if @products.any? %>
  <div class="container-fluid">
    <div class="row"> 
      <div class="col-12">
        <h2>Nossos produtos:</h2>
        <p> Valor atual do Rubi <%= number_to_currency(@rate) %> </p>
      </div>
      <% @products.each do | product |%>  
        <div class = "col-sm-12 col-md-3">
          <div class="card bg-white mb-3" style="max-width: 20rem;">  
            <div class="card-images">
              <% if product.photos.attached? %>
                <%= image_tag product.photos.first %>
              <% end %>
            </div>          
            <div class="card-header"><%= link_to product.name, product_detail_product_model_path(product) %></div>
            <div class="card-body">
              <p class="card-title"><%= product.description %></p>
              <%= number_to_currency(product.product_prices.first.price) %>
              <a class="card-text"> <%= link_to 'Ver', product_detail_product_model_path(product) %> </a>       
            </div>  
          </div>  
        </div> 
      <% end %>         
    </div>
  </div>  
<% else %>
  <span> Nenhum produto encontrado com os parâmetros da busca ¯\_(ツ)_/¯</span>
<% end %>
