<section id = 'product_list'>
<h2>Nossos produtos:</h2>
<dl>
<% if @products.any?%>
  <% @products.each do | product |%>
    <dd><%= link_to product.name, product_detail_product_model_path(product) %></dd>
    <%= number_to_currency(product.product_prices.first.price) %>
  <% end %>
<% else %>
  <span> Ainda não existem produtos disponíveis</span>
<% end %>
</dl>
</section>


<section id = 'query'>
    <%=form_with(url: search_category_sub_categories_path(@categories), method: :get) do |f| %>
    <%= f.label :query, 'Categorias' %>:
    <%= f.collection_select :query, @subcategories, :id, :full_description %>
    <%= f.submit 'Buscar' %>
    <% end%>
</section>
