<h2>Categorias</h2>

<div>
  <% if @categories.empty? %>
  <p> Não existem categorias cadastradas </p>
  <% end %>
</div>

<div>
  <%= link_to 'Nova Categoria', new_category_path %>
</div>

<div>
  <dl>
    <% @categories.each do | category |%>
      <dt><%= Category.human_attribute_name(:name)%>:</dt>
      <dd><%= link_to category.name, category %></dd>
      <dt><%= Category.human_attribute_name(:status)%>:</dt>
      <dd><%= Category.human_attribute_name("status.#{category.status}") %></dd>
      <%= link_to 'Editar Categoria', edit_category_path(category) %>
      <% if category.enabled? %>
        <%= button_to 'Desativar', disable_category_path(category), method: :patch %>    
      <% else %>
        <%= button_to 'Ativar', enable_category_path(category), method: :patch %>    
      <% end %>
    <% end %>
  </dl>
</div>
