<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>E-Commerce</h1>
      
      <nav>
        <%= link_to "Página Inicial", root_path %>

        <% if merchant_signed_in? || customer_signed_in? %>
          <% if merchant_signed_in? %>
            <p> Painel - Mercadores </p>
            <%= current_merchant.email %>
            <%= link_to "Criar Produto", new_product_model_path %>
            <%= link_to "Produtos", product_models_path %>
            <%= link_to "Categorias", categories_path %>
            <%= button_to 'Logout', destroy_merchant_session_path, method: :delete %>
          <% elsif customer_signed_in? %>
            <%= current_customer.email %>
            <%= link_to 'Minha conta' %>
            <%= link_to 'Meu carrinho', customer_product_items_path(current_customer.id) %>
            <%= button_to 'Logout', destroy_customer_session_path, method: :delete %>
          <% end %>
        <% else %>    
          <%= link_to 'Entrar - Mercador', new_merchant_session_path %>    
          <%= link_to 'Entrar - Clientes', new_customer_session_path %>
        <% end %>
      </nav>
    </header>
      <div style = "margin:10px 0px" >
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
  </body>
</html>
